<app-header titulo="🛸 Alien Store 🛸"></app-header>
<app-menu></app-menu>

<ion-content [fullscreen]="true">

    
<h5 class="alien-text">
    
¡Bienvenido a Alien Store, tu destino intergaláctico para explorar las mejores experiencias de juego! En nuestra tienda virtual, te sumergirás en un universo lleno de emocionantes keys de videojuegos que te transportarán a mundos inimaginables.

</h5>


<ion-card>
  <img alt="Alien" src="../../../../assets/img/aliens_poker.webp" />
  <ion-card-header class="alien-text">
    <ion-card-title>Claves de videojuegos</ion-card-title>
  </ion-card-header>

  <ion-card-content class="alien-text">
    Aquí podrás encontrar claves de activación traidas de otro mundo para tus videojuegos favoritos.
  </ion-card-content>
</ion-card>

  
</ion-content>

